<web-app>
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:mysql://localhost/u443763129_KiranProject</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>u443763129_KiranProject</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>Bkiru@2003</param-value>
    </context-param>
</web-app>